<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Abhibus Suite" annotations="JDK" parallel="tests">

    <test name="abhibus">
        <classes>
            <class name="com.abhibus.testcases.AbhibusHomeTest"/>
        </classes>
    </test>

</suite>